{{#link-to 'index'}}<h1>Super Rentals</h1>{{/link-to}}

<!-- {{outlet}}

<div id="links">
  {{#link-to 'about'}}About{{/link-to}}
  {{#link-to 'contact'}}Contact{{/link-to}}
</div> --> 
<div id="links">

    {{outlet}}
  <hr>
  <footer>
    {{#link-to 'contact'}}Our representatives would love to help!{{/link-to}}
  </footer>
</div>
