<h1> Welcome to Super Rentals </h1>

We hope you find exacly what you're looking for in a place to stay.

<h2> Cities </h2>

{{new-city saveCity="saveCityOnCityRoute"}}

<ul>
  {{#each model as |city|}}
    <li>{{city-popularity city}} {{#link-to 'city' city.id}}{{city.name}}{{/link-to}}</li>
  {{/each}}
</ul>


<hr>


{{#link-to 'about'}}About{{/link-to}}
{{#link-to 'contact'}}Contact us.{{/link-to}}
