<h2>Find the perfect place to stay, any day.</h2>

<ul class="list">
  {{#each model.rentals as |rental|}}
     {{rental-tile rental=rental}}
  {{/each}}
</ul>

{{new-rental save2="save3"}}

&nbsp;
<h2> Cities </h2>

<ul class="cities">
  {{#each model.cities as |city|}}
    <li>{{city.name}}</li>
  {{/each}}
  {{log model.cities.length}}
</ul>
